## Creating a logistic regression to predict absenteeism

### Import the relevant libraries

In [1]:
import pandas as pd
import numpy as np

## Load the data

In [2]:
data_preprocessed = pd.read_csv('D:\Absenteeism_preprocessed.csv')

In [3]:
data_preprocessed.head()

,Reason_type1,Reason_type2,Reason_type3,Reason_type4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2

## Create targets
### We will take the median value of 'Absenteeism time in hours' and use it as a cut-off line

### Anything below median will be considered as moderately absent & above median will be considered as excessively absent

In [4]:
data_preprocessed['Absenteeism Time in Hours'].median()

3.0

## i.e  <= 3 hours will be in moderate absent(Assign value 0) category & >= 4 hours will be in excessively absent(Assign value 1) category

### Our task is to predict whether well will obtain target value 0 or 1

In [5]:
targets = np.where(data_preprocessed['Absenteeism Time in Hours']>3,1,0)

In [6]:
targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

In [7]:
data_preprocessed['Absenteeism time'] = targets

In [8]:
data_preprocessed.head()

,Reason_type1,Reason_type2,Reason_type3,Reason_type4,Month Value,Day of the Week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Absenteeism time
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4,1
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2,0

In [9]:
data_with_targets = data_preprocessed.drop(['Absenteeism Time in Hours','Day of the Week','Daily Work Load Average', 'Distance to Work'],axis=1)

In [10]:
data_with_targets.head()

,Reason_type1,Reason_type2,Reason_type3,Reason_type4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets,Absenteeism time
0,0,0,0,1,7,289,33,30,0,2,1,1
1,0,0,0,0,7,118,50,31,0,1,0,0
2,0,0,0,1,7,179,38,31,0,0,0,0
3,1,0,0,0,7,279,39,24,0,2,0,1
4,0,0,0,1,7,289,33,30,0,2,1,0

## Select the inputs for regression

In [11]:
data_with_targets.iloc[:,:-1]

,Reason_type1,Reason_type2,Reason_type3,Reason_type4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets
0,0,0,0,1,7,289,33,30,0,2,1
1,0,0,0,0,7,118,50,31,0,1,0
2,0,0,0,1,7,179,38,31,0,0,0
3,1,0,0,0,7,279,39,24,0,2,0
4,0,0,0,1,7,289,33,30,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,179,40,22,1,2,0
696,1,0,0,0,5,225,28,24,0,1,2
697,1,0,0,0,5,330,28,25,1,0,0
698,0,0,0,1,5,235,32,25,1,0,0
699,0,0,0,1,5,291,40,25,0,1,1

In [12]:
unscaled_inputs = data_with_targets.iloc[:,:-1]

## Standardize the data

In [13]:
from sklearn.preprocessing import StandardScaler
absenteeism_scaler = StandardScaler()

In [14]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import StandardScaler
class CustomScaler(BaseEstimator, TransformerMixin):
    
    def __init__(self,columns,copy=True, with_mean = True, with_std = True):
        self.scaler = StandardScaler(copy,with_mean,with_std)
        self.columns = columns
        self.mean_ = None
        self.var_ = None
        
    def fit(self, X, y = None):
        self.scaler.fit(X[self.columns], y)
        self.mean_ = np.mean(X[self.columns])
        self.var_ = np.var(X[self.columns])
        return self
    
    def transform(self, X, y=None, copy=None):
        init_col_order = X.columns
        X_scaled = pd.DataFrame(self.scaler.transform(X[self.columns]), columns = self.columns)
        X_not_scaled = X.loc[:,~X.columns.isin(self.columns)]
        return pd.concat([X_not_scaled, X_scaled], axis=1)[init_col_order]

In [15]:
unscaled_inputs.columns.values

array(['Reason_type1', 'Reason_type2', 'Reason_type3', 'Reason_type4',
       'Month Value', 'Transportation Expense', 'Age', 'Body Mass Index',
       'Education', 'Children', 'Pets'], dtype=object)

In [16]:
columns_to_omit = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Education']

In [17]:
columns_to_scale = [x for x in unscaled_inputs.columns.values if x not in columns_to_omit]

In [18]:
absenteeism_scaler = CustomScaler(columns_to_scale)

In [19]:
absenteeism_scaler.fit(unscaled_inputs)

CustomScaler(columns=['Reason_type1', 'Reason_type2', 'Reason_type3',
                      'Reason_type4', 'Month Value', 'Transportation Expense',
                      'Age', 'Body Mass Index', 'Children', 'Pets'],
             copy=None, with_mean=None, with_std=None)

In [20]:
scaled_inputs = absenteeism_scaler.transform(unscaled_inputs)

In [21]:
scaled_inputs

,Reason_type1,Reason_type2,Reason_type3,Reason_type4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets
0,-0.577350,-0.092981,-0.314485,0.821365,0.182726,1.005844,-0.536062,0.767431,0,0.880469,0.268487
1,-0.577350,-0.092981,-0.314485,-1.217485,0.182726,-1.574681,2.130803,1.002633,0,-0.019280,-0.589690
2,-0.577350,-0.092981,-0.314485,0.821365,0.182726,-0.654143,0.248310,1.002633,0,-0.919030,-0.589690
3,1.732051,-0.092981,-0.314485,-1.217485,0.182726,0.854936,0.405184,-0.643782,0,0.880469,-0.589690
4,-0.577350,-0.092981,-0.314485,0.821365,0.182726,1.005844,-0.536062,0.767431,0,0.880469,0.268487
...,...,...,...,...,...,...,...,...,...,...,...
695,1.732051,-0.092981,-0.314485,-1.217485,-0.388293,-0.654143,0.562059,-1.114186,1,0.880469,-0.589690
696,1.732051,-0.092981,-0.314485,-1.217485,-0.388293,0.040034,-1.320435,-0.643782,0,-0.019280,1.126663
697,1.732051,-0.092981,-0.314485,-1.217485,-0.388293,1.624567,-1.320435,-0.408580,1,-0.919030,-0.589690
698,-0.577350,-0.092981,-0.314485,0.821365,-0.388293,0.190942,-0.692937,-0.408580,1,-0.919030,-0.589690
699,-0.577350,-0.092981,-0.314485,0.821365,-0.388293,1.036026,0.562059,-0.408580,0,-0.019280,0.268487

In [22]:
scaled_inputs.shape

(700, 11)

## Split the data into train & test and shuffle it

### import the relevant module

In [23]:
from sklearn.model_selection import train_test_split

## Split

### hence after executing the below code we get 
#### array 1: a training data set with inputs
#### array 2: a training data set with targets
#### array 3: a test data set with inputs
#### array 4: a test data set with targets

In [24]:
train_test_split(scaled_inputs,targets)

[     Reason_type1  Reason_type2  Reason_type3  Reason_type4  Month Value  \
 695      1.732051     -0.092981     -0.314485     -1.217485    -0.388293
 61      -0.577350     -0.092981     -0.314485      0.821365     0.753746
 222      1.732051     -0.092981     -0.314485     -1.217485    -0.102784
 74      -0.577350     -0.092981      3.179797     -1.217485     1.039256
 556     -0.577350     -0.092981     -0.314485      0.821365     1.610276
 ..            ...           ...           ...           ...          ...
 181     -0.577350     -0.092981     -0.314485      0.821365    -0.959313
 20       1.732051     -0.092981     -0.314485     -1.217485     0.468236
 278      1.732051     -0.092981     -0.314485     -1.217485     0.753746
 118     -0.577350     -0.092981     -0.314485      0.821365    -1.530333
 452     -0.577350     -0.092981     -0.314485      0.821365    -0.102784

      Transportation Expense       Age  Body Mass Index  Education  Children  \
 695               -0.654143  0.562059        -1.114186          1  0.880469
 61                 0.568211 -0.065439        -0.878984          0  2.679969
 222                0.356940  0.718933        -0.878984          0 -0.919030
 74                 0.568211 -0.065439        -0.878984          0  2.679969
 556                1.036026  0.562059        -0.408580          0 -0.019280
 ..                      ...       ...              ...        ...       ...
 181                0.040034 -1.320435        -0.643782          0 -0.019280
 20                 1.624567 -1.320435        -0.408580          1 -0.919030
 278               -0.654143  0.248310         1.002633          0 -0.919030
 118               -0.578689 -1.477309        -1.349389          0 -0.919030
 452               -0.654143  0.248310         1.002633          0 -0.919030

          Pets
 695 -0.589690
 61  -0.589690
 222 -0.589690
 74  -0.589690
 556  0.268487
 ..        ...
 181  1.126663
 20  -0.589690
 278 -0.589690
 118 -0.589690
 452 -0.589690

 [525 rows x 11 columns],
      Reason_type1  Reason_type2  Reason_type3  Reason_type4  Month Value  \
 49       1.732051     -0.092981     -0.314485     -1.217485     0.753746
 5       -0.577350     -0.092981     -0.314485      0.821365     0.182726
 190     -0.577350     -0.092981     -0.314485      0.821365    -0.673803
 351     -0.577350     -0.092981     -0.314485      0.821365     1.610276
 229      1.732051     -0.092981     -0.314485     -1.217485    -0.102784
 ..            ...           ...           ...           ...          ...
 519     -0.577350     -0.092981     -0.314485      0.821365     1.039256
 42      -0.577350     -0.092981     -0.314485      0.821365     0.753746
 529      1.732051     -0.092981     -0.314485     -1.217485     1.039256
 570      1.732051     -0.092981     -0.314485     -1.217485    -1.530333
 458      1.732051     -0.092981     -0.314485     -1.217485    -0.102784

      Transportation Expense       Age  Body Mass Index  Education  Children  \
 49                 1.036026  0.562059        -0.408580          0 -0.019280
 5                 -0.654143  0.248310         1.002633          0 -0.919030
 190                0.568211 -0.065439        -0.878984          0  2.679969
 351               -0.654143  0.248310         1.002633          0 -0.919030
 229                0.190942  0.091435         0.532229          1 -0.019280
 ..                      ...       ...              ...        ...       ...
 519                2.213108 -0.849811        -0.408580          0  1.780219
 42                -0.654143  0.248310         1.002633          0 -0.919030
 529                0.387122  1.660180         1.237836          0  0.880469
 570               -0.654143 -1.006686        -1.819793          1 -0.919030
 458                1.624567 -1.320435        -0.408580          1 -0.919030

          Pets
 49   0.268487
 5   -0.589690
 190 -0.589690
 351 -0.589690
 229  0.268487
 ..        ...
 519 -0.589690
 42  -0.589690
 529  0.268487
 570 -0.589690
 458 -0.589690

 [175 rows x 11 columns],
 array([1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0,
        0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
        0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0,
        0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
        1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0,
        0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0,
        1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0,
        0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1,
        0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0,
        0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0,
        1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
        1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1,
        1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0,
        1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0,
        0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0,
        1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1,
        1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0,
        1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0,
        0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1,
        1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0,
        1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1,
        1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0]),
 array([1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
        1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1,
        0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1,
        1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0,
        1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0,
        1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
        0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0,
        1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0])]

In [25]:
x_train, x_test, y_train, y_test = train_test_split(scaled_inputs, targets, train_size = 0.8, random_state = 20)

In [26]:
print(x_train.shape, y_train.shape)

(560, 11) (560,)

In [27]:
print(x_test.shape, y_test.shape)

(140, 11) (140,)

## Logistic Regression with sklearn

In [28]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

### Training the model

In [29]:
reg = LogisticRegression()

In [30]:
reg.fit(x_train, y_train)

C:\Users\sayali\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

### check the accuracy

In [31]:
reg.score(x_train, y_train)

0.7875

## Finding the intercepts & coefficients

In [32]:
unscaled_inputs.columns.values

array(['Reason_type1', 'Reason_type2', 'Reason_type3', 'Reason_type4',
       'Month Value', 'Transportation Expense', 'Age', 'Body Mass Index',
       'Education', 'Children', 'Pets'], dtype=object)

In [33]:
feature_name = unscaled_inputs.columns.values

In [34]:
summary_table = pd.DataFrame (columns=['Feature name'], data = feature_name)

summary_table['Coefficient'] = np.transpose(reg.coef_)

summary_table

              Feature name  Coefficient
0             Reason_type1     2.067464
1             Reason_type2     0.334375
2             Reason_type3     1.559908
3             Reason_type4     1.311512
4              Month Value     0.185105
5   Transportation Expense     0.690637
6                      Age    -0.197994
7          Body Mass Index     0.327495
8                Education    -0.315770
9                 Children     0.371905
10                    Pets    -0.324528

In [35]:
summary_table.index = summary_table.index + 1
summary_table.loc[0] = ['Intercept',reg.intercept_[0]]
summary_table = summary_table.sort_index()
summary_table

              Feature name  Coefficient
0                Intercept    -0.169243
1             Reason_type1     2.067464
2             Reason_type2     0.334375
3             Reason_type3     1.559908
4             Reason_type4     1.311512
5              Month Value     0.185105
6   Transportation Expense     0.690637
7                      Age    -0.197994
8          Body Mass Index     0.327495
9                Education    -0.315770
10                Children     0.371905
11                    Pets    -0.324528

## Logistic regression formula
### log(odds) = intercept + b1x1 + b2x2 + ......b13x13 + b14x14

In [36]:
summary_table['odds_ratio'] = np.exp(summary_table['Coefficient'])

In [37]:
summary_table

              Feature name  Coefficient  odds_ratio
0                Intercept    -0.169243    0.844304
1             Reason_type1     2.067464    7.904755
2             Reason_type2     0.334375    1.397067
3             Reason_type3     1.559908    4.758382
4             Reason_type4     1.311512    3.711783
5              Month Value     0.185105    1.203345
6   Transportation Expense     0.690637    1.994986
7                      Age    -0.197994    0.820374
8          Body Mass Index     0.327495    1.387488
9                Education    -0.315770    0.729227
10                Children     0.371905    1.450495
11                    Pets    -0.324528    0.722868

In [38]:
summary_table.sort_values('odds_ratio', ascending= False)

              Feature name  Coefficient  odds_ratio
1             Reason_type1     2.067464    7.904755
3             Reason_type3     1.559908    4.758382
4             Reason_type4     1.311512    3.711783
6   Transportation Expense     0.690637    1.994986
10                Children     0.371905    1.450495
2             Reason_type2     0.334375    1.397067
8          Body Mass Index     0.327495    1.387488
5              Month Value     0.185105    1.203345
0                Intercept    -0.169243    0.844304
7                      Age    -0.197994    0.820374
9                Education    -0.315770    0.729227
11                    Pets    -0.324528    0.722868

## Note : A feature is not particularly important :
###  - if its coefficient is around 0
###  - if its odds ratio is around 1

### Hence in this case we have features like 'Daily Work Load Average', ' Distance to Work'   & 'Day of the Week' which are less important to us and we must drop it. But in this case i don't think that all these features are useless so we will go back to the point where we dropped 'Absenteism Time in Hours' & drop these three columns along with it and run all the cells again . (This is called Backward Elimination).......It will give error in some places as we have not erased the columns we dropped in some of the below lines.Just solve those minor problems

## Testing the model

In [39]:
reg.score(x_test, y_test)

0.7357142857142858

In [40]:
predicted_proba = reg.predict_proba(x_test)
predicted_proba

array([[0.70787875, 0.29212125],
       [0.57240632, 0.42759368],
       [0.39722156, 0.60277844],
       [0.7871614 , 0.2128386 ],
       [0.06706237, 0.93293763],
       [0.31158323, 0.68841677],
       [0.28623871, 0.71376129],
       [0.08098094, 0.91901906],
       [0.7998164 , 0.2001836 ],
       [0.74960402, 0.25039598],
       [0.46775646, 0.53224354],
       [0.1847786 , 0.8152214 ],
       [0.04107863, 0.95892137],
       [0.75155043, 0.24844957],
       [0.23838403, 0.76161597],
       [0.53708693, 0.46291307],
       [0.53372215, 0.46627785],
       [0.52054949, 0.47945051],
       [0.40619764, 0.59380236],
       [0.0276527 , 0.9723473 ],
       [0.70196092, 0.29803908],
       [0.7871614 , 0.2128386 ],
       [0.40618889, 0.59381111],
       [0.40618889, 0.59381111],
       [0.17505998, 0.82494002],
       [0.75415565, 0.24584435],
       [0.48882312, 0.51117688],
       [0.87893898, 0.12106102],
       [0.13105335, 0.86894665],
       [0.7871614 , 0.2128386 ],
       [0.62318131, 0.37681869],
       [0.30551352, 0.69448648],
       [0.28937391, 0.71062609],
       [0.44155533, 0.55844467],
       [0.7871614 , 0.2128386 ],
       [0.43666343, 0.56333657],
       [0.79122047, 0.20877953],
       [0.1908699 , 0.8091301 ],
       [0.58605681, 0.41394319],
       [0.37002999, 0.62997001],
       [0.79588133, 0.20411867],
       [0.57556396, 0.42443604],
       [0.77322277, 0.22677723],
       [0.89490845, 0.10509155],
       [0.14238844, 0.85761156],
       [0.34680759, 0.65319241],
       [0.29444083, 0.70555917],
       [0.70787875, 0.29212125],
       [0.78901666, 0.21098334],
       [0.80433282, 0.19566718],
       [0.43124962, 0.56875038],
       [0.9207552 , 0.0792448 ],
       [0.31158323, 0.68841677],
       [0.73143429, 0.26856571],
       [0.14076491, 0.85923509],
       [0.54636067, 0.45363933],
       [0.06986026, 0.93013974],
       [0.78237554, 0.21762446],
       [0.9139322 , 0.0860678 ],
       [0.90968309, 0.09031691],
       [0.2910067 , 0.7089933 ],
       [0.32303071, 0.67696929],
       [0.712922  , 0.287078  ],
       [0.14010368, 0.85989632],
       [0.81017561, 0.18982439],
       [0.72924644, 0.27075356],
       [0.98600451, 0.01399549],
       [0.79122047, 0.20877953],
       [0.1888082 , 0.8111918 ],
       [0.71002404, 0.28997596],
       [0.79122047, 0.20877953],
       [0.93149222, 0.06850778],
       [0.07105918, 0.92894082],
       [0.52084814, 0.47915186],
       [0.36081904, 0.63918096],
       [0.7871614 , 0.2128386 ],
       [0.15018779, 0.84981221],
       [0.25988275, 0.74011725],
       [0.23069089, 0.76930911],
       [0.320897  , 0.679103  ],
       [0.76382211, 0.23617789],
       [0.98839147, 0.01160853],
       [0.78237554, 0.21762446],
       [0.22374502, 0.77625498],
       [0.55494762, 0.44505238],
       [0.89969303, 0.10030697],
       [0.26813106, 0.73186894],
       [0.40618889, 0.59381111],
       [0.94847576, 0.05152424],
       [0.30551352, 0.69448648],
       [0.85354048, 0.14645952],
       [0.86135416, 0.13864584],
       [0.77817277, 0.22182723],
       [0.72924644, 0.27075356],
       [0.74960402, 0.25039598],
       [0.12631464, 0.87368536],
       [0.69683141, 0.30316859],
       [0.2147196 , 0.7852804 ],
       [0.76141629, 0.23858371],
       [0.80931223, 0.19068777],
       [0.3368173 , 0.6631827 ],
       [0.30551352, 0.69448648],
       [0.28086659, 0.71913341],
       [0.23962312, 0.76037688],
       [0.53401994, 0.46598006],
       [0.49443575, 0.50556425],
       [0.71868604, 0.28131396],
       [0.12631464, 0.87368536],
       [0.20392803, 0.79607197],
       [0.86754591, 0.13245409],
       [0.98954368, 0.01045632],
       [0.07489017, 0.92510983],
       [0.25159304, 0.74840696],
       [0.65962456, 0.34037544],
       [0.44970439, 0.55029561],
       [0.42050748, 0.57949252],
       [0.14660706, 0.85339294],
       [0.15445355, 0.84554645],
       [0.45717576, 0.54282424],
       [0.69078754, 0.30921246],
       [0.73955407, 0.26044593],
       [0.86103015, 0.13896985],
       [0.14823037, 0.85176963],
       [0.57556396, 0.42443604],
       [0.7871614 , 0.2128386 ],
       [0.65277369, 0.34722631],
       [0.79588133, 0.20411867],
       [0.90459689, 0.09540311],
       [0.22872524, 0.77127476],
       [0.70196092, 0.29803908],
       [0.35779726, 0.64220274],
       [0.79588133, 0.20411867],
       [0.69683141, 0.30316859],
       [0.65277369, 0.34722631],
       [0.74424804, 0.25575196],
       [0.44970439, 0.55029561],
       [0.52054949, 0.47945051],
       [0.69902333, 0.30097667],
       [0.76141629, 0.23858371],
       [0.52084814, 0.47915186]])

## column 1 is the probablities of getting a 0 (moderately absent )
## column 2 is the probablities of getting a 1 (excessively absent )
## Hence we will slice up the 2nd column

In [41]:
predicted_proba[:,1]

array([0.29212125, 0.42759368, 0.60277844, 0.2128386 , 0.93293763,
       0.68841677, 0.71376129, 0.91901906, 0.2001836 , 0.25039598,
       0.53224354, 0.8152214 , 0.95892137, 0.24844957, 0.76161597,
       0.46291307, 0.46627785, 0.47945051, 0.59380236, 0.9723473 ,
       0.29803908, 0.2128386 , 0.59381111, 0.59381111, 0.82494002,
       0.24584435, 0.51117688, 0.12106102, 0.86894665, 0.2128386 ,
       0.37681869, 0.69448648, 0.71062609, 0.55844467, 0.2128386 ,
       0.56333657, 0.20877953, 0.8091301 , 0.41394319, 0.62997001,
       0.20411867, 0.42443604, 0.22677723, 0.10509155, 0.85761156,
       0.65319241, 0.70555917, 0.29212125, 0.21098334, 0.19566718,
       0.56875038, 0.0792448 , 0.68841677, 0.26856571, 0.85923509,
       0.45363933, 0.93013974, 0.21762446, 0.0860678 , 0.09031691,
       0.7089933 , 0.67696929, 0.287078  , 0.85989632, 0.18982439,
       0.27075356, 0.01399549, 0.20877953, 0.8111918 , 0.28997596,
       0.20877953, 0.06850778, 0.92894082, 0.47915186, 0.63918096,
       0.2128386 , 0.84981221, 0.74011725, 0.76930911, 0.679103  ,
       0.23617789, 0.01160853, 0.21762446, 0.77625498, 0.44505238,
       0.10030697, 0.73186894, 0.59381111, 0.05152424, 0.69448648,
       0.14645952, 0.13864584, 0.22182723, 0.27075356, 0.25039598,
       0.87368536, 0.30316859, 0.7852804 , 0.23858371, 0.19068777,
       0.6631827 , 0.69448648, 0.71913341, 0.76037688, 0.46598006,
       0.50556425, 0.28131396, 0.87368536, 0.79607197, 0.13245409,
       0.01045632, 0.92510983, 0.74840696, 0.34037544, 0.55029561,
       0.57949252, 0.85339294, 0.84554645, 0.54282424, 0.30921246,
       0.26044593, 0.13896985, 0.85176963, 0.42443604, 0.2128386 ,
       0.34722631, 0.20411867, 0.09540311, 0.77127476, 0.29803908,
       0.64220274, 0.20411867, 0.30316859, 0.34722631, 0.25575196,
       0.55029561, 0.47945051, 0.30097667, 0.23858371, 0.47915186])

## In reality logistic regression models calculate these probablities in background
### If the probablity is :
### -> Below 0.5, it places a 0
### -> Above 0.5, it places a 1